<h1>Cadastro de Participantes</h1><br><br>

<form method="POST" action="?page=participante&method=insert">
    <span>CPF</span><br>
    <input type="text" name="cpf"><br><br>
    <span>Nome</span><br>
    <input type="text" name="nome"><br><br>
    <span>E-mail</span><br>
    <input type="text" name="email"><br><br>
    <span>Data de Nascimento</span><br>
    <input type="text" name="data_nascimento"><br><br>
    <span>CNPJ da Empresa</span><br>
    <input type="text" name="empresa_cnpj"><br><br>
    <input type="submit" value="Cadastrar" class="button">
</form>