<section>
    <div class="content-participantes">
        <h1>Cadastro do Participante</h1>
        <article>
            <span>
                <h3>{{nome}}</h3>
            </span>
            <p>{{cpf}}</p>
            <p>{{email}}</p>
            <p>{{data_nascimento}}</p>
            <p>{{empresa_cnpj}}</p>
            <a href="/?page=participante&method=change&cpf={{cpf}}" class="button">Alterar</a>
            <a href="/?page=participante&method=delete&cpf={{cpf}}" class="button">Deletar</a>
        </article>
    </div>
</section>